body
{
margin: 0px;
padding: 0px;
text-align: center;
}

#header
{
background: #cfcfcf;
border-bottom: 5px solid #ccc;
}



#menu
{
margin-left: 0px;
border: 1px solid #efefef;
height: 50px;
width: 100%;
background: #f8f8f8;
border-bottom: 5px solid #eee;
}

#menu ul
{
list-style:none;
}

#menu li
{
list-style:none;
display:inline;
margin:0 5px;
}

#menu li a
{
color:#993399;
text-transform:uppercase;
font-size:13px;
font-weight:bold;
text-decoration:none;
border-bottom:5px solid #b5b4b4;
cursor:pointer;
padding:0 0 1px 0;
}

#menu li a:hover
{
border-bottom:5px solid #777;
color:#0000ff;
text-decoration:none;
}

#menu li a.current
{
border-bottom: 0px;
color:#0000ff;
text-transform:uppercase;
font-size:13px;
font-weight:bold;
text-decoration:none;
}

#main
{
}

#footer
{
}